---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<text class="pub-title">LiveVV: Human-Centered Live Volumetric Video Streaming System</text>. 
Kaiyuan Hu, Yongting Chen, Kaiying Han, Junhua Liu, Haowen Yang, Yili Jin, Boyan Li, Fangxin Wang.  
IEEE Internet of Things journal.(2024). 
<span style="background-color: #d3d3d3; color: white; padding: 3px 8px; border-radius: 5px; font-size: 12px;">
        Under Review
    </span>
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://arxiv.org/abs/2310.08205','_blank')">Paper</button>
<br>
<br>



