---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Publication</h2> 
<b>Liu, X.</b>, Briol, F-X. (2024). 
<text class="pub-title">On the Robustness of Kernel Goodness-of-Fit Tests</text>. ICML 2023.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://arxiv.org/abs/2408.05854','_blank')">Paper</button>
<br>
<br>



